[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-cors = "*"
flask-sqlalchemy ="*"
flask-migrate ="*"
flask-serializer ="*"
flask-jwt-extended = "*"
python-dotenv = "*"
flask-socketio = "*"
requests = "*"
openrouteservice = "*"
eventlet = "*"

[dev-packages]

[requires]
python_version = "3.12"
